$green-1: #E3FFF3;
$green-2: #D0FFED;
$green-3: #B3FFE3;
$green-4: #88FFD1;
$green-5: #53FEBE;
$green-6: #3FE1B0;
$green-7: #2BC4A2;
$green-8: #068989;
$green-9: #005E5D;
$green-10: #083F37;

$blue-1: #ACF1FF;
$blue-2: #80EAFF;
$blue-3: #00DDFF;
$blue-4: #00B3F5;
$blue-5: #0290EE;
$blue-6: #0060E0;
$blue-7: #0250BC;
$blue-8: #063F96;
$blue-9: #073072;
$blue-10: #0A214D;

$purple-1: #E6DFFF;
$purple-2: #D9BFFF;
$purple-3: #CC9EFF;
$purple-4: #C588FF;
$purple-5: #AC71FF;
$purple-6: #9059FF;
$purple-7: #7543E3;
$purple-8: #582ACB;
$purple-9: #46278E;
$purple-10: #321C64;

$magenta-1: #F7E3FF;
$magenta-2: #F6B9FF;
$magenta-3: #F690FF;
$magenta-4: #F564FF;
$magenta-5: #D64CF1;
$magenta-6: #B933E1;
$magenta-7: #962BB9;
$magenta-8: #712290;
$magenta-9: #4D1A69;
$magenta-10: #2B1141;

$pink-1: #FFDFF0;
$pink-2: #FFB4DB;
$pink-3: #FF8AC6;
$pink-4: #FF6BBB;
$pink-5: #FE4AA3;
$pink-6: #FF2A8A;
$pink-7: #E11586;
$pink-8: #C60184;
$pink-9: #7F165B;
$pink-10: #50134C;

$red-1: #FFE0E8;
$red-2: #FFBEC6;
$red-3: #FF9AA2;
$red-4: #FF848C;
$red-5: #FF6A75;
$red-6: #FF505F;
$red-7: #E02950;
$red-8: #C50143;
$red-9: #800220;
$red-10: #440307;

$orange-1: #FFF4DE;
$orange-2: #FFD6B2;
$orange-3: #FFB588;
$orange-4: #FEA365;
$orange-5: #FE8A4F;
$orange-6: #FF7139;
$orange-7: #E25821;
$orange-8: #CD3D00;
$orange-9: #9D280C;
$orange-10: #7B1604;

$yellow-1: #FFFFCD;
$yellow-2: #FEFF95;
$yellow-3: #FFEA7F;
$yellow-4: #FFD567;
$yellow-5: #FFBD4F;
$yellow-6: #FFA537;
$yellow-7: #E17F2E;
$yellow-8: #C45A28;
$yellow-9: #A7341F;
$yellow-10: #960F18;

$primary: $red-7;